<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>66855503448-salalnn9s5haqmfst92a1i7e6u12rsor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66855503448-salalnn9s5haqmfst92a1i7e6u12rsor</string>
	<key>API_KEY</key>
	<string>AIzaSyDLDOsMb8k2-UF1_9cWSEso3IHsUjhEeHA</string>
	<key>GCM_SENDER_ID</key>
	<string>66855503448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.integro.SFS-COLLEGE</string>
	<key>PROJECT_ID</key>
	<string>sfs-ios-e78c9</string>
	<key>STORAGE_BUCKET</key>
	<string>sfs-ios-e78c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66855503448:ios:5eb358af1714e24f</string>
	<key>DATABASE_URL</key>
	<string>https://sfs-ios-e78c9.firebaseio.com</string>
</dict>
</plist>